h1 {
  color: rgb(0, 0, 0);
}

.note {
  color: rgb(61, 67, 90);
  padding-top: 5px;
  font-size: 1em;
}

.error {
  color: rgb(255, 255, 255);
  background: rgb(184, 33, 28);
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
}